* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */
header,
#hero,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

header {
    padding: 5px 300px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 24px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

/* Hero */
section#hero {
    padding: 80px 300px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

section#hero div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    flex: 1 1 0%;
    gap: 10px;
}

section#hero h1 {
    font-size: 48px;
    font-weight: 900;
}

section#hero p {
    font-size: 18px;
    color: #E5E7EB;
}

section#hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 20px;
    border-radius: 5px;
}

section#hero img {
    flex: 1 1 0%;
    background-color: #999;
}

/* random-info */
section#random-info {
    padding: 40px 350px 80px 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section#random-info h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 30px;
}

section#random-info div {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

section#random-info article {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    text-align: center;
}

section#random-info article img {
    width: 150px;
    height: 150px;
    border: #3882F6 2px solid;
    border-radius: 20px;
    margin-bottom: 5px;
}

section#random-info article label {
    font-size: 18px;
    color: #999;
    text-wrap: wrap;
}

/* quote */
section#quote {
    padding: 80px 300px;
    background-color: #E5E7EB;
}

blockquote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 5px;
}

blockquote p {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    text-align: right;
}

/* call-to-action */
section#call-to-action {
    padding: 80px 300px;
}

section#call-to-action div#text {
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 50px;
    padding: 30px 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

section#call-to-action button {
    background-color: #3882F6;
    border: #F9FAF8 2px solid;
    padding: 5px 20px;
    border-radius: 5px;
    color: #F9FAF8;
    align-self: center;
}